# Server Config
PORT=3000
NODE_ENV=production
ALLOWED_ORIGINS=http://localhost:3000,https://your-app.run.app

# Auth
JWT_SECRET=your_super_secret_key_123

# Razorpay Keys
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

# Firebase (JSON string of your service account key)
# FIREBASE_SERVICE_ACCOUNT='{"type": "service_account", ...}'
